# Telegram bot Token
TELEGRAM_TOKEN=blablablabla

# Database configuration
DB_NAME=acnh_test
DB_HOST=127.0.0.1
DB_PORT=3312
DB_USERNAME=root
DB_PASSWORD=secret

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=7001
