# Chromedriver Path
CHROMEDRIVER_PATH=/home/luthfiswees/SeleniumDriver/chromedriver

# Cron tab configuration
CRON_STRING=0 13 * * *

# Database setup (MySQL)
DB_NAME=acnh_test
DB_HOST=127.0.0.1
DB_PORT=3312
DB_USERNAME=root
DB_PASSWORD=secret